html {
  box-sizing: border-box;
  background: url('https://source.unsplash.com/NFs6dRTBgaM/2000x2000') fixed;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.items {
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.2);
  cursor: grab;
  user-select: none;
  white-space: nowrap;
  position: relative;
}

.items.active {
  cursor: grabbing;
  background: rgba(255, 255, 255, 0.3);
}

.item {
  flex: 0 0 auto; /* Important: ensure horizontal scroll */
  width: 250px;
  height: 250px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
}

.item:nth-child(9n+1) { background: dodgerblue; }
.item:nth-child(9n+2) { background: goldenrod; }
.item:nth-child(9n+3) { background: paleturquoise; }
.item:nth-child(9n+4) { background: gold; }
.item:nth-child(9n+5) { background: cadetblue; }
.item:nth-child(9n+6) { background: tomato; }
.item:nth-child(9n+7) { background: lightcoral; }
.item:nth-child(9n+8) { background: darkslateblue; }
.item:nth-child(9n+9) { background: rebeccapurple; }
